<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	
	<title>{{ page.title }}</title>
	
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<link href="{{ site.url }}/atom.xml" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	
	<link rel="stylesheet" href="/css/style.css?v=0.3">

	<script src="/js/libs/modernizr-1.6.min.js"></script>
		
	<!-- Google WEb fonts -->
	<link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
	

</head>
<body>
<h1 class="title"><a href="/">{{ site.title }}</a></h1>
<h1 class="subtitle">{{ site.subtitle }}</h1>