{% include head.html %}

<p class="menu"><a href="/blog" title="Blog Archives">< go back to archive</a></p>

{{ content }}

<p class="separator">❦</p>

<div id="disqus_thread"></div>
<script type="text/javascript">

    var disqus_shortname = 'meadhikari';
    var disqus_identifier = '{{ site.url }}{{ page.url }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<p class="separator">❦</p>

{% include foot.html %}
